<link href="{{ asset('styles/main.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ asset('styles/results.css') }}" type="text/css" rel="stylesheet" />
<div class="container">
    <table class="table">
        <tr class="table__header">
            <th>Participants</th>
            <th>Travel distance (m)</th>
            <th>Flight Duration (s)</th>
            <th>Date</th>
            <th>Model</th>


        </tr>
        {% for user in results %}

                <tr class="table__row" onclick="location.href='{{ path('show_tournamentEntry_json',{'id' : user.id })}}'">
                    <td>{{ user.name }}</td>
                    <td>{{ user.travel_distance }}</td>
                    <td>{{ user.flight_duration }}</td>
                    <td>{{ user.date }}</td>
                    <td>{{ user.model }}</td>
                </tr>
        {% endfor %}
    </table>
    <a href="{{ path('form_tournamentEntry') }}">
        <button class="__button">ADD</button>
    </a>
</div>