<style>

</style>
<div>
    <div>{{ entry.name }}</div>
    <div>{{ entry.travelDistance }}</div>
    <div>{{ entry.flightDuration }}</div>
    <div>{{ entry.model }}</div>
    <a href="{{ path('results') }}">
        <button><--</button>
    </a>
</div>