<link href="{{ asset('styles/main.css') }}" type="text/css" rel="stylesheet"/>
<link href="{{ asset('styles/formular.css') }}" type="text/css" rel="stylesheet"/>
<style>

</style>
<div class="container">
    {{ form_start(form) }}
    {{ form_end(form) }}
    <a href="{{ path('results') }}">
        <button class="__button">BACK</button>
    </a>
</div>